{%  extends 'frontend/admin/partialview/base_template.html' %}
{% load static %}

{% block content %}


<div class="page">

  {% include 'frontend/admin/partialview/top_navbar.html' %}

  <!-- Breadcrumb-->
  <div class="breadcrumb-holder">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item "><a href="{% url 'adminDashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item "><a href="{% url 'adminLaunderers' %}">Launderers</a></li>
        <li class="breadcrumb-item active"><a>Details</a></li>
      </ul>
    </div>
  </div>

  <h1 class="display-3 text-center m-4">Launderer</h1>
  <hr>
  {% comment %} <section class="statistics">
    <div class="container-fluid">
      <div class="row d-flex">
        <div class="col-lg-4">
          <div class="card data-usage">
            <div class="card-header d-flex align-items-center">
              <div class="container px-4 pb-4">
                <img src="{{client.profile_pic.url}}" alt="person" class="img-fluid rounded-circle">
              </div>
            </div>
            <h2 class="display h4 text-primary">{{client.user.username}}</h2>
            <p class="text-primary">Name:</p>
            <p>{{client.name}}</p>
            <p class="text-primary">Email</p>
            <p class="">{{client.user.email}}</p>
            <p class="text-primary">Address:</p>
            <p class="">{{client.address}}</p>
          </div>
        </div>
      </div>
    </div>
  </section> {% endcomment %}

  <section class="charts">
    <div class="container-fluid">
      <!-- Page Header-->
      <div class="card line-chart-example">
        <div class="card-header d-flex align-items-center">

          <img src="{{launderer.profile_pic.url}}" alt="person" class="img-fluid rounded-circle" width="300">
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col">
              <p class="lead text-primary">Name:</p>
              <p class="lead ">{{launderer.name}}</p>
            </div>

            <div class="col">
              <p class="lead text-primary">Username:</p>
              <p class="lead ">{{launderer.user.username}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="lead text-primary">Email:</p>
              <p class="lead ">{{launderer.user.email}}</p>
            </div>

            <div class="col">
              <p class="lead text-primary">Address:</p>
              <p class="lead ">{{launderer.address}}</p>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <p class="lead text-primary">Date Joined:</p>
          <p class="lead ">{{launderer.date_joined}}</p>

          {% if launderer.isBlocked == False %}
          <form enctype="multipart/form-data" method="POST" action="{% url 'laundererRequestProcess' launderer.id %}">
            {% csrf_token %}
            <div class="form-group">
              <input type="hidden" id="statusField1" name="statusField" value="block">
            </div>
            <div class="form-group mt-4">
              <input type="submit" value="Block Launderer" class="btn btn-md btn-outline-danger px-4">
            </div>
          </form>
          {% endif %}
          {% if launderer.isBlocked == True %}
          <form enctype="multipart/form-data" method="POST" action="{% url 'laundererRequestProcess' launderer.id %}">
            {% csrf_token %}
            <div class="form-group">
              <input type="hidden" id="statusField1" name="statusField" value="unblock">
            </div>
            <div class="form-group mt-4">
              <input type="submit" value="Unblock Launderer" class="btn btn-md btn-outline-danger px-4">
            </div>
          </form>
          {% endif %}
        </div>
      </div>

    </div>
  </section>


  <section class="charts">
    <div class="container-fluid">
      <h1>Launderer's Launderette</h1>
      <!-- Page Header-->
      <div class="card line-chart-example">
        <div class="card-header d-flex align-items-center">

          <img class="card-img-top" src="{{launderette.cover_photo.url}}" alt="{{launderette.cover_photo.url}}"
            width="300" height="600">
        </div>
        <div class="card-body">

          <p class="lead text-primary">Name:</p>
          <p class="lead ">{{launderette.name}}</p>
          <div class="row">
            <div class="col-6">
              <p class="lead text-primary">Location:</p>
              <p class="lead ">{{launderette.location}}</p>
            </div>
            <div class="col-6">

              <div class="col-6">
                <p class="lead text-primary">Available Time:</p>
                <p class="lead ">{{launderette.available_time}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">

          <p class="lead text-primary">Date Joined:</p>
          <p class="lead ">{{launderette.date_joined}}</p>
          {% if launderette.isBlocked == False %}
          <form enctype="multipart/form-data" method="POST"
            action="{% url 'launderetteRequestProcess' launderette.id %}">
            {% csrf_token %}
            <div class="form-group">
              <input type="hidden" id="statusField1" name="statusField" value="block">
            </div>
            <div class="form-group mt-4">
              <input type="submit" value="Block Launderette" class="btn btn-md btn-outline-danger px-4">
            </div>
          </form>
          {% endif %}
          {% if launderette.isBlocked == True %}
          <form enctype="multipart/form-data" method="POST"
            action="{% url 'launderetteRequestProcess' launderette.id %}">
            {% csrf_token %}
            <div class="form-group">
              <input type="hidden" id="statusField1" name="statusField" value="unblock">
            </div>
            <div class="form-group mt-4">
              <input type="submit" value="Unblock Launderette" class="btn btn-md btn-outline-danger px-4">
            </div>
          </form>
          {% endif %}
        </div>
      </div>

    </div>
  </section>

  <footer class="main-footer">
    {% include 'frontend/partialView/footer_navbar.html' %}
  </footer>
</div>


{% endblock content %}