{%  extends 'frontend/admin/partialview/base_template.html' %}
{% load static %}

{% block content %}

   
    <div class="page">
      
    {% include 'frontend/admin/partialview/top_navbar.html' %}

      
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item "><a >Launderete</a></li>
            <li class="breadcrumb-item active"><a >Reviews</a></li>
          </ul>
        </div>
      </div>


      <h1 class="h3 display-3 text-primary m-4 text-center">Launderete   Reviews         </h1>
     
     <section class="my-4">
        <div class="container">
        <table class="table text-center">
        
            <thead>
                <tr>
                    <th>Client</th>
                    <th>Launderette</th>
                    <th>Rating</th>
                    <th>Review</th>
                    <th>Details</th>
                </tr>
            </thead>

            <tbody>
              {% for review in reviews %}
                <tr class="bg-light">
                      <th scope="row">{{review.client}}</th>
                      <td> {{review.launderette}}</td>
                      <td>{{review.rating}}</td>
                      <td> {{review.review}}</td>
                      {% comment %} <td><a class="btn  btn-outline-primary   text-center" href="{% url 'laundaretteReviewDetail' review.id %}">Check</a></td> {% endcomment %}
                </tr>
              {% endfor %}
            </tbody>
        </table>
        </div>
        
    </section>



      <footer class="main-footer">
        {% include 'frontend/partialView/footer_navbar.html' %}
      </footer>
    </div>
 

{% endblock content %}