{%  extends 'frontend/partialview/base_template.html' %}
{% load static %}

{% block content %}

   
    <div class="page">
      <!-- navbar-->
      
      {% include 'frontend/partialview/topbar.html' %}  
      
      
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'complaints' %}" >Complaints</a></li>
            <li class="breadcrumb-item active"><a >Details</a></li>
          </ul>
        </div>
      </div>


      <h1 class="h3 display-4 text-primary m-4 text-center">Complaint   Details        </h1>
     
     <section class="charts">
        <div class="container-fluid">
          <!-- Page Header-->
              <div class="card line-chart-example">
                <div class="card-header d-flex align-items-center">
                  <h4>{{complaint.status}}</h4>
                </div>
                <div class="card-body">
                    
                    <p class="lead text-primary">By:</p>
                    <p class="lead ">{{complaint.launderer}}</p>

                    <p class="lead text-primary">Subject:</p>
                    <p class="lead">{{complaint.subject}}</p>
                    <p class="lead text-primary">Sent Time:</p>
                    <p class="lead ">{{complaint.date}}</p>
                </div>
              </div>  
        </div>
      </section>



      <footer class="main-footer">
        {% include 'frontend/partialView/footer_navbar.html' %}
      </footer>
    </div>
    
    
    <script>
      toastr.options = {
                          "closeButton": true,
                          "debug": false,
                          "newestOnTop": true,
                          "progressBar": true,
                          "positionClass": "toast-top-center",
                          "preventDuplicates": true,
                          "onclick": null,
                          "showDuration": "300",
                          "hideDuration": "1000",
                          "timeOut": "5000",
                          "extendedTimeOut": "1000",
                          "showEasing": "swing",
                          "hideEasing": "linear",
                          "showMethod": "fadeIn",
                          "hideMethod": "fadeOut"
                      }
      //Query All input fields
      var form_fields = document.getElementsByTagName('textarea')
      for (var field in form_fields){
        form_fields[field].className += ' input-material'
        form_fields[0].placeholder = "Enter what you would like to say to client"
      }
      $(document).ready(function(){
        if($(".errorlist").length){
          $(".errorlist").parent().parent().prev("a").css({"color": "#dd0303"});
        }
      });
      var formErrors = document.getElementsByClassName("errorlist");
      if(formErrors.length){
        for (var field in formErrors){
          console.log(formErrors[field]);
          myUl = formErrors[field];
          items = myUl.getElementsByTagName("li");
          for (var item in items){
            if( items[item].textContent !== undefined){
              toastr.error(items[item].textContent)
            }
          }
        }
      }
    </script>
 

{% endblock content %}