{%  extends 'frontend/partialview/base_template.html' %}
{% load static %}

{% block content %}


<div class="page">
  <!-- navbar-->

  {% include 'frontend/partialview/topbar.html' %}
  <!-- Counts Section -->

  <div class="container mx-4 px-4">
    {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
    </div>
    {% endfor %}
  </div>
  <section class="dashboard-counts section-padding">
    <div class="container-fluid">
      <div class="row">
        <!-- Count item widget-->
        <div class="col-xl-3 col-md-4 col-6">
          <div class="wrapper count-title d-flex">
            <div class="icon"><i class="icon-user"></i></div>
            <div class="name"><strong class="text-uppercase">Positive Reviews</strong>
              <div class="count-number">{{positiveReviews}}</div>
            </div>
          </div>
        </div>
        <!-- Count item widget-->
        <div class="col-xl-3 col-md-4 col-6">
          <div class="wrapper count-title d-flex">
            <div class="icon"><i class="icon-padnote"></i></div>
            <div class="name"><strong class="text-uppercase">Total Orders</strong>
              <div class="count-number">{{totalOrders}}</div>
            </div>
          </div>
        </div>
        <!-- Count item widget-->
        <div class="col-xl-3 col-md-4 col-6">
          <div class="wrapper count-title d-flex">
            <div class="icon"><i class="icon-check"></i></div>
            <div class="name"><strong class="text-uppercase">New Orders</strong>
              <div class="count-number">{{newOrders}}</div>
            </div>
          </div>
        </div>
        <!-- Count item widget-->
        <div class="col-xl-3 col-md-4 col-6">
          <div class="wrapper count-title d-flex">
            <div class="icon"><i class="icon-bill"></i></div>
            <div class="name"><strong class="text-uppercase">OnGoing Orders</strong>
              <div class="count-number">{{totalOngoingOrders}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> <!-- Header Section-->
  <section class="dashboard-header section-padding">
    <div class="container-fluid">
      <div class="row d-flex align-items-md-stretch ">
        <div class="col-lg-2 col-md-6 ">
          <div class="card to-do">

            <!-- User Info-->
            <div class="sidenav-header-inner text-center">
              <img src="{{launderer.profile_pic.url}}" alt="person" class="img-fluid pfp rounded-circle">
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 py-4 my-4">

          <h2 class="display h4 py-4 my-4">{{launderer.name}}</h2>


        </div>
        <div class="col-lg-3 col-md-6 pt-4">
          <div class="card project-progress">
            <h3 class="display h4">Username:</h3>
            <p> {{launderer.user.username}}</p>
            <h2 class="display h4">Email:</h2>
            <p> {{launderer.user.email}}</p>
            <h2 class="display h4">Address:</h2>
            <p class='text-muted'>{{launderer.address}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 flex-lg-last flex-md-first align-self-baseline">
          <div class="card sales-report p-4">
            <a class="btn btn-md btn-outline-primary pf-edit-btn mx-4 mb-2 mt-4" href="{% url 'myAccount' %}">Edit
              Profile</a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Statistics Section-->
  <section class="statistics">
    <div class="container-fluid">
      <div class="row d-flex">
        <div class="col-lg-4">
          <!-- Income-->
          <div class="card income text-center">
            <div class="icon"><i class="icon-line-chart"></i></div>
            <div class="number">RS 0</div><strong class="text-primary">Current Balance</strong>
            <p>This represent your account current value.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Monthly Usage-->
          <div class="card data-usage">
            <h2 class="display h4">Cancel Ratio</h2>
            <div class="row d-flex align-items-center">
              <div class="col-sm-6">
                <div id="progress-circle" class="d-flex align-items-center justify-content-center"></div>
              </div>
              <div class="col-sm-6"><strong class="text-primary">{{acceptedOrdersRatio|floatformat:2}}</strong>
                <small>Accepted Orders</small>
                <span>{{acceptedOrders}}</span>
                <small>Canceled Orders</small>
                <span>{{totalCanceledOrders}}</span>
              </div>
            </div>
            <p>This is your orders accepted to cancelation ratio.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- User Actibity-->
          <div class="card user-activity">
            <h2 class="display h4">Launderete Rating</h2>
            <div class="number">{{reviewsRatio|floatformat:1}}</div>
            <h3 class="h4 display">Total Reviews</h3>
            <div class="number">{{totalreviews}}</div>
            <div class="progress">
              <div role="progressbar" style="width: {{reviewsRatio}}%" aria-valuenow="{{positiveReviews}}"
                aria-valuemin="0" aria-valuemax="{{totalreviews}}" class="progress-bar progress-bar bg-primary"></div>
            </div>
            <div class="page-statistics d-flex justify-content-between">
              <div class="page-statistics-left"><span>Positive Reviews</span><strong>{{positiveReviews}}</strong></div>
              <div class="page-statistics-right"><span>Negative Reviews</span><strong>{{negativeReviews}}</strong></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="charts">
    <div class="container-fluid">
      <!-- Page Header-->
      <header>
        <h1 class="h3 display">Launderete </h1>
      </header>
      <div class="row">
        <div class="col-lg-6">
          <div class="card line-chart-example">
            <div class="card-header d-flex align-items-center">
              <h4>Launderete</h4>
            </div>
            <div class="card-body">
              <p class="lead">Please Contact Admin If You Have Questions.</p>
              <a class="btn btn-lg btn-outline-primary" href="{% url 'launderette' %}"> Launderete Details</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card bar-chart-example">
            <div class="card-header d-flex align-items-center">
              <h4>Services</h4>
            </div>
            <div class="card-body">
              <p class="lead">Please Contact Admin If You Have Questions.</p>
              <a class="btn btn-lg btn-outline-primary" href="{% url 'services' %}">Services</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="charts">
    <div class="container-fluid">
      <!-- Page Header-->
      <header>
        <h1 class="h3 display">Orders </h1>
      </header>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="card-header">

                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        OnGoing Order
                      </a>
                    </h4>
                  </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">

                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Date Started</th>
                            <th>Client</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Delivery Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for ongoingOrder in ongoingOrders|slice:":5" %}
                          <tr>
                            <td>{{ongoingOrder.date_started}}</td>
                            <td>{{ongoingOrder.client}}</td>
                            <td>{{ongoingOrder.price}}</td>
                            <td>{{ongoingOrder.amount}}</td>
                            <td>{{ongoingOrder.date_end}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>

                        <a href="{% url 'ongoingOrders' %}">View ALL</a>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <div class="card-header">

                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Finished Orders
                      </a>
                    </h4>
                  </div>
                </div>
                <div id="collapseOne" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne">

                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Deliverd Time</th>
                            <th>Client</th>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Date Started</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for finishedOrder in finishedOrders|slice:":5" %}
                          <tr>
                            <td>{{finishedOrder.date_end}}</td>
                            <td>{{finishedOrder.client}}</td>
                            <td>{{finishedOrder.price}}</td>
                            <td>{{finishedOrder.amount}}</td>
                            <td>{{finishedOrder.date_started}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                        <a href="{% url 'ordersHistory' %}">View ALL</a>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="main-footer">
    {% include 'frontend/partialview/footer_navbar.html' %}
  </footer>
</div>

<script>
  $(document).ready(function () {
    console.log($(".progress-circle").html())
    $(".gmpc-percent-text").html("<b>{{acceptedOrdersRatio}}</b>")
  });
</script>

{% endblock content %}