{%  extends 'frontend/partialview/base_template.html' %}
{% load static %}

{% block content %}

   
    <div class="page">
      <!-- navbar-->
      
      {% include 'frontend/partialview/topbar.html' %}  
      
      
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active"><a >New Launderete</a></li>
          </ul>
        </div>
      </div>


      <h1 class="h3 display-3 text-primary m-4 text-center">New Launderete            </h1>
     
     <section class="charts">
        <div class="container-fluid">
          <!-- Page Header-->
              <div class="card line-chart-example">
                <div class="card-header d-flex align-items-center">
                  <h4>Launderete Form</h4>
                </div>
                <div class="card-body">
                 <p>You can update your Launderete information here</p>
                    
                    <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label>Name</label>
                      {{launderetteForm.name}}
                    </div>
                    
                    <div class="form-group">
                      <label>Cover Photo</label>
                      {{launderetteForm.cover_photo}}
                    </div>
                    
                    <div class="form-group">
                      <label>Location</label>
                      {{launderetteForm.location}}
                    </div>

                    <div class="form-group">
                      <label>Available Time:</label>
                      {{launderetteForm.available_time}}
                      </div>

                    <div class="form-group">       
                      <input type="submit" value="Save" class="btn btn-primary text-white">
                    </div>
                  </form>
                </div>
              </div>
            
        </div>
      </section>



      <footer class="main-footer">
        {% include 'frontend/partialView/footer_navbar.html' %}
      </footer>
    </div>
 
     <script>

      //Query All input fields
      var form_fields = document.getElementsByTagName('input')
      for (var field in form_fields){
        form_fields[field].className += ' form-control'
      }
    </script>


{% endblock content %}