{%  extends 'frontend/partialview/base_template.html' %}
{% load static %}

{% block content %}

   
    <div class="page">
      <!-- navbar-->
      
      {% include 'frontend/partialview/topbar.html' %}  
      
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item "><a >Orders</a></li>
            <li class="breadcrumb-item active">History       </li>
          </ul>
        </div>
      </div>
      <section class="charts">
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class=" display-3  text-center text-primary">Orders   History         </h1>
          </header>
          
        <div class="card">
        
        <form method="get" class="text-left">
              <div class="filters p-4">
                <div class="form-group-material">
                  <label>Client Name</label>
                  {{ordersfliter.form.client_name}}
                  {{ordersfliter.form.client_name.errors}}
                  {{ordersfliter.form.status}}
                </div>
                <a href="#price_filter"  data-toggle="collapse">Price Filters</a>
                <div id="price_filter" class="collapse">
                  <div class="form-group-material">
                    <label>Price Range</label>
                    {{ordersfliter.form.start_price}}
                    {{ordersfliter.form.start_price.errors}}
                    {{ordersfliter.form.end_price}}
                    {{ordersfliter.form.end_price.errors}}
                  </div>
                </div>
                <a href="#amount_filter"  data-toggle="collapse">Amount Filters</a>
                <div id="amount_filter" class="collapse">
                    <div class="form-group-material">
                      <label>Amount Range</label>
                      {{ordersfliter.form.start_amount}}
                      {{ordersfliter.form.start_amount.errors}}
                      {{ordersfliter.form.end_amount}}
                      {{ordersfliter.form.end_amount.errors}}
                    </div>
                </div>
                
                <a href="#date_filter"  data-toggle="collapse">Date Filters</a>
                <div id="date_filter" class="collapse">
                  <div class="form-group-material ">
                    <label>Date Range</label>
                    {{ordersfliter.form.start_date}}
                    {{ordersfliter.form.start_date.errors}}
                    {{ordersfliter.form.end_date}}
                    {{ordersfliter.form.start_date.errors}}
                  </div>
                </div>
                
                
              <div class="form-group">
		            <button class="my-btn btn btn-primary" type="submit">Search</button>
              </div>
              </div>
            </form>
            <div class="card-header">
                        
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             Orders History
                            </a>
                        </h4>
                        </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                <th>Date & Time Started</th>
                                <th>Client</th>
                                <th>Price</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th>Reviews</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for finished in finisheds %}
                                    <tr>
                                        <td>{{finished.date_started}}</td>
                                        <td>{{finished.client}}</td>
                                        <td>{{finished.price}}</td>
                                        <td>{{finished.amount}}</td>
                                        <td>{{finished.status}}</td>
                                        <td><a class="btn btn-md btn-outline-primary "  href = "{% url 'orderDetail' finished.id %}">Details</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            </table>
                        </div>
                        </div>
                
          {% if finisheds.has_previous %}
            <a href="{% url 'ordersHistory' %}?page={{ordersHistory.previous_page_number}}">Previous Page</a>
          {% endif %}
          {% if finisheds.has_next %}
            <a href="{% url 'ordersHistory' %}?page={{ordersHistory.next_page_number}}">Next Page</a>
          {% endif %}
      </div>
        
       
        
        </div>
      </section>
      
      <footer class="main-footer">
        {% include 'frontend/partialview/footer_navbar.html' %}
      </footer>
    </div>
 

    
    <script>
      toastr.options = {
                          "closeButton": true,
                          "debug": false,
                          "newestOnTop": true,
                          "progressBar": true,
                          "positionClass": "toast-top-center",
                          "preventDuplicates": true,
                          "onclick": null,
                          "showDuration": "300",
                          "hideDuration": "1000",
                          "timeOut": "5000",
                          "extendedTimeOut": "1000",
                          "showEasing": "swing",
                          "hideEasing": "linear",
                          "showMethod": "fadeIn",
                          "hideMethod": "fadeOut"
                      }
      //Query All input fields
      var form_fields = document.getElementsByTagName('input');
      var i = 0;
      for (var field in form_fields){
        form_fields[field].className += ' form-control';
      }
      form_fields[0].placeholder = "Enter name of client";
      form_fields[1].placeholder = "Starting Price (eg: 50)";
      form_fields[2].placeholder = "Ending Price (eg: 100)";
      form_fields[3].placeholder = "Starting Amount (eg: 5)";
      form_fields[4].placeholder = "Ending Amount (eg: 20)";
      form_fields[5].placeholder = "Date started (eg: 11-09-2021)";
      form_fields[6].placeholder = "Date Ended (eg: 05-12-2021)";
      
      $(document).ready(function(){
        if($(".errorlist").length){
          $(".errorlist").parent().parent().prev("a").css({"color": "#dd0303"});
        }
      });
      var formErrors = document.getElementsByClassName("errorlist");
      if(formErrors.length){
        for (var field in formErrors){
          console.log(formErrors[field]);
          myUl = formErrors[field];
          items = myUl.getElementsByTagName("li");
          for (var item in items){
            if( items[item].textContent !== undefined){
              toastr.error(items[item].textContent)
            }
          }
        }
      }
    </script>

{% endblock content %}