{%  extends 'frontend/partialview/base_template.html' %}
{% load static %}

{% block content %}

   
    <div class="page">
      <!-- navbar-->
      
    {% include 'frontend/partialview/topbar.html' %}  
      <!-- Counts Section -->
      
    <div class="container mx-4 px-4">
      {% for message in messages %}
        <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
          </div>
        </div>
      {% endfor %}
    </div>
      <section class="dashboard-counts section-padding">
        <div class="container-fluid">
          <div class="row">
            <!-- Count item widget-->
            <div class="col-xl-3 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-user"></i></div>
                <div class="name"><strong class="text-uppercase">Positive Reviews</strong>
                  <div class="count-number">{{positiveReviews}}</div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-3 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-padnote"></i></div>
                <div class="name"><strong class="text-uppercase">Work Orders</strong>
                  <div class="count-number">{{totalOrders}}</div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-3 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-check"></i></div>
                <div class="name"><strong class="text-uppercase">New Orders</strong>
                  <div class="count-number">{{newOrders}}</div>
                </div>
              </div>
            </div>
            <!-- Count item widget-->
            <div class="col-xl-3 col-md-4 col-6">
              <div class="wrapper count-title d-flex">
                <div class="icon"><i class="icon-bill"></i></div>
                <div class="name"><strong class="text-uppercase">OnGoing Orders</strong>
                  <div class="count-number">{{totalOngoingOrders}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="statistics">
        <div class="container-fluid">
          <div class="row d-flex">
            <div class="col-lg-6">
              <!-- Monthly Usage-->
              <div class="card data-usage">
                <h2 class="display h4">Cancel Ratio</h2>
                <div class="row d-flex align-items-center">
                  <div class="col-sm-6">
                    <div id="progress-circle" class="d-flex align-items-center justify-content-center"></div>
                  </div>
                  <div class="col-sm-6"><strong class="text-primary">{{acceptedOrdersRatio}}</strong>
                  <small>Accepted Orders</small>
                  <span>{{acceptedOrders}}</span>
                  <small>Canceled Orders</small>
                  <span>{{totalCanceledOrders}}</span>
                  </div>
                </div>
                <p>This is your orders accepted to cancelation ratio.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <!-- User Actibity-->
              <div class="card user-activity">
                <h2 class="display h4">Launderete Rating</h2>
                <div class="number">{{reviewsRatio|floatformat:1}}</div>
                <h3 class="h4 display">Total Reviews</h3>
                <div class="number">{{totalreviews}}</div>
                <div class="progress">
                  <div role="progressbar" style="width: {{reviewsRatio}}%" aria-valuenow="{{positiveReviews}}" aria-valuemin="0" aria-valuemax="{{totalreviews}}" class="progress-bar progress-bar bg-primary"></div>
                </div>
                <div class="page-statistics d-flex justify-content-between">
                  <div class="page-statistics-left"><span>Positive Reviews</span><strong>{{positiveReviews}}</strong></div>
                  <div class="page-statistics-right"><span>Negative Reviews</span><strong>{{negativeReviews}}</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
     <section class="charts">
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display">Orders            </h1>
          </header>
          <div class="row">
            <div class="col-lg-12">
              <div class="card bar-chart-example">
                <div class="card-header d-flex align-items-center">
                  <h4>Orders Accepted and Declined</h4>
                </div>
                <div class="card-body">
                  <canvas id="barChartExample"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card pie-chart-example">
                <div class="card-header d-flex align-items-center">
                  <h4>Total Orders Abstract</h4>
                </div>
                <div class="card-body">
                  <div class="chart-container">
                    <canvas id="pieChartExample"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card polar-chart-example">
                <div class="card-header d-flex align-items-center">
                  <h4>Total Orders Details</h4>
                </div>
                <div class="card-body">
                  <div class="chart-container">
                    <canvas id="polarChartExample"></canvas>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-12">
              <div class="card line-chart-example">
                <div class="card-header d-flex align-items-center">
                  <h4>Accepted to Declined Ratio</h4>
                </div>
                <div class="card-body">
                  <canvas id="lineChartExample"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    
     <section class="charts">
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display">Reviews            </h1>
          </header>
          <div class="row">
            <div class="col-lg-6">
              <div class="card bar-chart-example">
                <div class="card-header d-flex align-items-center">
                  <h4>Reviews by months</h4>
                </div>
                <div class="card-body">
                  <canvas id="barChartExample2"></canvas>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card line-chart-example">
                <div class="card-header d-flex align-items-center">
                  <h4>Reviews Ratio</h4>
                </div>
                <div class="card-body">
                  <canvas id="lineChartExample2"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

      <footer class="main-footer">
      {% include 'frontend/partialview/footer_navbar.html' %}
      </footer>
    </div>

    <script>
      $(document).ready(function(){
        console.log($(".progress-circle").html())
        $(".gmpc-percent-text").html("<b>{{acceptedOrdersRatio}}</b>")

    'use strict';

    var brandPrimary = 'rgba(51, 179, 90, 1)';
        
        BARCHARTEXMPLE    = $('#barChartExample'),
        console.log(BARCHARTEXMPLE)
        
        var barChartExample = new Chart(BARCHARTEXMPLE, {
            type: 'bar',
            data: {
                labels: [{% for data in bar_month_data %} '{{data}}',{% endfor %}
                ],
                datasets: [
                    {
                        label: "Accepted Orders",
                        backgroundColor: [{% for data in bar_month_data %} 'rgba(51, 179, 90, 0.6)',{% endfor %}
                        ],
                        borderColor: [{% for data in bar_month_data %} 'rgba(51, 179, 90, 1)',{% endfor %}
                        ],
                        borderWidth: 1,
                        data: [{% for data in bar_accept_data %} '{{data}}',{% endfor %}],
                    },
                    {
                        label: "Declined Orders",
                        backgroundColor: [{% for data in bar_month_data %} 'rgba(203, 203, 203, 0.6)',{% endfor %}
                        ],
                        borderColor: [{% for data in bar_month_data %} 'rgba(203, 203, 203, 1)',{% endfor %}
                        ],
                        borderWidth: 1,
                        data: [{% for data in bar_decline_data %} '{{data}}',{% endfor %}],
                    }
                ]
            }
        });
        LINECHARTEXMPLE   = $('#lineChartExample')
        
    var lineChartExample = new Chart(LINECHARTEXMPLE, {
        type: 'line',
        data: {
            labels: [{% for data in bar_month_data %} '{{data}}',{% endfor %}],
            datasets: [
                {
                    label: "Accepted Ratio",
                    fill: true,
                    lineTension: 0.3,
                    backgroundColor: "rgba(51, 179, 90, 0.38)",
                    borderColor: brandPrimary,
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    borderWidth: 1,
                    pointBorderColor: brandPrimary,
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: brandPrimary,
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [{% for data in line_accept_data %} '{{data}}',{% endfor %}],
                    spanGaps: false
                },
                {
                    label: "Declined",
                    fill: true,
                    lineTension: 0.3,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    borderWidth: 1,
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [{% for data in line_decline_data %} '{{data}}',{% endfor %}],
                    spanGaps: false
                }
            ]
        }
    });

    BARCHARTEXMPLE2    = $('#barChartExample2'),
        console.log(BARCHARTEXMPLE2)
        
        var barChartExample2 = new Chart(BARCHARTEXMPLE2, {
            type: 'bar',
            data: {
                labels: [{% for data in bar_month_data %} '{{data}}',{% endfor %}
                ],
                datasets: [
                    {
                        label: "Positive Reviews",
                        backgroundColor: [{% for data in bar_month_data %} 'rgba(51, 179, 90, 0.6)',{% endfor %}
                        ],
                        borderColor: [{% for data in bar_month_data %} 'rgba(51, 179, 90, 1)',{% endfor %}
                        ],
                        borderWidth: 1,
                        data: [{% for data in reviewbar_accept_data %} '{{data}}',{% endfor %}],
                    },
                    {
                        label: "Negative Reviews",
                        backgroundColor: [{% for data in bar_month_data %} 'rgba(203, 203, 203, 0.6)',{% endfor %}
                        ],
                        borderColor: [{% for data in bar_month_data %} 'rgba(203, 203, 203, 1)',{% endfor %}
                        ],
                        borderWidth: 1,
                        data: [{% for data in reviewbar_decline_data %} '{{data}}',{% endfor %}],
                    }
                ]
            }
        });
        LINECHARTEXMPLE2   = $('#lineChartExample2')
        
    var lineChartExample2 = new Chart(LINECHARTEXMPLE2, {
        type: 'line',
        data: {
            labels: [{% for data in bar_month_data %} '{{data}}',{% endfor %}],
            datasets: [
                {
                    label: "Positive Reviews",
                    fill: true,
                    lineTension: 0.3,
                    backgroundColor: "rgba(51, 179, 90, 0.38)",
                    borderColor: brandPrimary,
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    borderWidth: 1,
                    pointBorderColor: brandPrimary,
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: brandPrimary,
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [{% for data in reviewRatio_accept_data %} '{{data}}',{% endfor %}],
                    spanGaps: false
                },
                {
                    label: "Negative Reviews",
                    fill: true,
                    lineTension: 0.3,
                    backgroundColor: "rgba(75,192,192,0.4)",
                    borderColor: "rgba(75,192,192,1)",
                    borderCapStyle: 'butt',
                    borderDash: [],
                    borderDashOffset: 0.0,
                    borderJoinStyle: 'miter',
                    borderWidth: 1,
                    pointBorderColor: "rgba(75,192,192,1)",
                    pointBackgroundColor: "#fff",
                    pointBorderWidth: 1,
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                    pointHoverBorderColor: "rgba(220,220,220,1)",
                    pointHoverBorderWidth: 2,
                    pointRadius: 1,
                    pointHitRadius: 10,
                    data: [{% for data in reviewRatio_decline_data %} '{{data}}',{% endfor %}],
                    spanGaps: false
                }
            ]
        }
    });

    POLARCHARTEXMPLE  = $('#polarChartExample');
    
    var polarChartExample = new Chart(POLARCHARTEXMPLE, {
        type: 'polarArea',
        data: {
            datasets: [{
                data: [
                    {{totalFinished}},
                    {{totalOngoingOrders}},
                    {{totalDeclined}},
                ],
                backgroundColor: [
                    "rgba(51, 179, 90, 1)",
                    "#4BC0C0",
                    "#FF6384"
                ],
                label: 'My dataset' // for legend
            }],
            labels: [
                "Finished",
                "Ongoing",
                "Declined",
            ]
        }
    });
    PIECHARTEXMPLE    = $('#pieChartExample')
    
    var pieChartExample = new Chart(PIECHARTEXMPLE, {
        type: 'doughnut',
        data: {
            labels: [
                "Total",
                "Accepted",
                "Declined"
            ],
            datasets: [
                {
                    data: [{{totalOrders}}, {{acceptedOrders}}, {{totalDeclined}}],
                    borderWidth: [1, 1, 1],
                    backgroundColor: [
                        brandPrimary,
                        "rgba(75,192,192,1)",
                        "#FF6384"
                    ],
                    hoverBackgroundColor: [
                        brandPrimary,
                        "rgba(75,192,192,1)",
                        "#FFCE56"
                    ]
                }]
            }
    });

    var pieChartExample = {
        responsive: true
    };





    var polarChartExample = {
        responsive: true
    };
      });
      
    </script>

  


{% endblock content %}