{%  extends 'frontend/partialview/base_template.html' %}
{% load static %}

{% block content %}

   
    <div class="page">
      <!-- navbar-->

      {% include 'frontend/partialview/topbar.html' %}  
      
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item "><a >Services</a></li>
            <li class="breadcrumb-item active"><a >Edit</a></li>
          </ul>
        </div>
      </div>

      <h1 class="display-3 text-center m-4">Services</h1>


      <section class="statistics">
        <div class="container-fluid">
        <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Service Form</h4>
                </div>
                <div class="card-body">
                  <p>You can update your service information here</p>
                  <form enctype="multipart/form-data" method="POST" >
                    {% csrf_token %}
                    <div class="form-group">
                      <label>Name</label>
                      {{serviceForm.title}}
                      {{serviceForm.title.errors}}
                    </div>
                    
                    <div class="form-group">
                      <label>Price</label>
                      {{serviceForm.price}}
                      {{serviceForm.price.errors}}
                    </div>

                    <div class="form-group">       
                      <input type="submit" value="Update" class="btn btn-primary text-white">
                    </div>
                  </form>
                </div>
              </div>
        </div>
      </section>
      
      <footer class="main-footer">
        {% include 'frontend/partialView/footer_navbar.html' %}
      </footer>
    </div>
 
    
    <script>

    toastr.options = {
                          "closeButton": true,
                          "debug": false,
                          "newestOnTop": true,
                          "progressBar": true,
                          "positionClass": "toast-top-center",
                          "preventDuplicates": true,
                          "onclick": null,
                          "showDuration": "300",
                          "hideDuration": "1000",
                          "timeOut": "5000",
                          "extendedTimeOut": "1000",
                          "showEasing": "swing",
                          "hideEasing": "linear",
                          "showMethod": "fadeIn",
                          "hideMethod": "fadeOut"
                      }
      //Query All input fields
      var form_fields = document.getElementsByTagName('input')
      for (var field in form_fields){
        form_fields[field].className += ' input-material'
      }
      
      $(document).ready(function(){
        if($(".errorlist").length){
          $(".errorlist").parent().parent().prev("a").css({"color": "#dd0303"});
        }
      });
      
      var formErrors = document.getElementsByClassName("errorlist");
      if(formErrors){
        for (var field in formErrors){
          console.log(formErrors[field]);
          myUl = formErrors[field];
          items = myUl.getElementsByTagName("li");
          for (var item in items){
            if( items[item].textContent !== undefined){
              toastr.error(items[item].textContent)
            }
          }
        }
      }
    </script>

{% endblock content %}