{%  extends 'frontend/dashboard/partialview/base_template.html' %}
{% load static %}

{% block content %}

   
    <div class="page">
      <!--change navbar-->
      
      {% include 'frontend/partialview/topbar.html' %}  
      
      <!-- Breadcrumb-->
      <div class="breadcrumb-holder">
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item "><a href="{% url 'dasboardIndex' %}">Dashboard</a></li>
            <li class="breadcrumb-item active">Transactions       </li>
          </ul>
        </div>
      </div>
      <section class="charts">
        <div class="container-fluid">
          <!-- Page Header-->
          <header> 
            <h1 class="h3 display">Transactions History            </h1>
          </header>
          
        <div class="card">
        
                        <div class="card-header">
                        
                        <h4>
                            All Transactions
                        </h4>
                        </div>
                        
                        <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th>Details</th>
                                <th>Amount</th>
                                <th>Available Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                <th scope="row">1</th>
                                <td>Poker</td>
                                <td>2020/3/1</td>
                                <td>In tournament</td>
                                <td>200</td>
                                <td>400</td>
                                </tr>
                                <tr>
                                <th scope="row">2</th>
                                <td>Poker</td>
                                <td>2020/3/1</td>
                                <td>In tournament</td>
                                <td>200</td>
                                <td>400</td>
                                </tr>
                                <tr>
                                <th scope="row">3</th>
                                <td>Poker</td>
                                <td>2020/3/1</td>
                                <td>In tournament</td>
                                <td>200</td>
                                <td>400</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </div>
            </div>
        </div>
    
    </section>
      
      <footer class="main-footer">
        {% include 'frontend/partialview/footer_navbar.html' %}
      </footer>
    </div>
 

{% endblock content %}